<!DOCTYPE html>
<html>
  <header>
    <%= csrf_meta_tags %>
    <div>
      <nav>
        <ul>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "ヘルプ", help_path %></li>
          <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li><%= link_to "プロフィール", current_user %></li>
          <li><%= link_to "設定", '#' %></li>
          <%# 強引な方法 %>
          <li><%= button_to "ログアウト", logout_path, method: :delete %></li>
        </ul>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>